@using Microsoft.AspNetCore.Identity
@using TMS.MVC.Models
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUser = User?.Identity?.IsAuthenticated == true
        ? await UserManager.GetUserAsync(User)
        : null;

    var currentUserFullName = currentUser == null
        ? ""
        : $"{currentUser.FirstName ?? ""} {currentUser.LastName ?? ""}".Trim();

    if (string.IsNullOrWhiteSpace(currentUserFullName))
    {
        currentUserFullName = "کاربر";
    }
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - آرناپترو لیا</title>

    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    <link rel="stylesheet" href="~/assets/css/vendors/flag-icon.css">
    <link rel="stylesheet" href="~/assets/css/iconly-icon.css">
    <link rel="stylesheet" href="~/assets/css/bulk-style.css">
    <link rel="stylesheet" href="~/assets/css/themify.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/weather-icons/weather-icons.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">

    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/site.css">

    <style>
        .sidebar-link .sidebar-fa-icon {
            width: 22px;
            min-width: 22px;
            height: 22px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            margin-left: 10px;
            color: currentColor;
        }

        .profile-body .profile-fa-icon {
            width: 20px;
            min-width: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            color: currentColor;
        }

        .profile-logout-form button {
            color: inherit;
            font-size: inherit;
            line-height: inherit;
        }

            .profile-logout-form button:hover {
                color: var(--theme-default);
            }

        .header-icon-btn {
            width: 38px;
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
        }

        .logo-wrapper a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="tap-top">
        <i class="iconly-Arrow-Up icli"></i>
    </div>

    <div class="loader-wrapper">
        <div class="loader">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <header class="page-header row">
            <div class="logo-wrapper d-flex align-items-center col-auto">
                <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center gap-2">
                    <img class="light-logo img-fluid" src="~/assets/images/logo/logo-ws.png" alt="logo" />
                    <span class="text-light" style="font-size:22px">
                        <strong>آرنا پترولیا</strong>
                    </span>
                </a>

                <a class="close-btn toggle-sidebar" href="javascript:void(0)">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>

            <div class="page-main-header col">
                <div class="header-left"></div>

                <div class="nav-right">
                    <ul class="header-right">
                        <li>
                            <a class="dark-mode header-icon-btn" href="javascript:void(0)" title="حالت تاریک">
                                <i class="fa-regular fa-moon"></i>
                            </a>
                        </li>

                        <li>
                            <a class="full-screen header-icon-btn" href="javascript:void(0)" title="تمام صفحه">
                                <i class="fa-solid fa-expand"></i>
                            </a>
                        </li>

                        <li class="profile-nav custom-dropdown">
                            <div class="user-wrap">
                                <div class="user-img">
                                    <img src="~/assets/images/profile.png" alt="user" />
                                </div>
                                <div class="user-content">
                                    <h6>@currentUserFullName</h6>
                                </div>
                            </div>

                            <div class="custom-menu overflow-hidden">
                                <ul class="profile-body">
                                    <li class="d-flex align-items-center">
                                        <i class="fa-regular fa-user profile-fa-icon"></i>
                                        <a class="ms-2" asp-controller="Account" asp-action="Profile">
                                            <span>حساب کاربری</span>
                                        </a>
                                    </li>

                                    <li class="d-flex align-items-center">
                                        <i class="fa-regular fa-ticket profile-fa-icon"></i>
                                        <a class="ms-2" asp-controller="Tickets" asp-action="Index">
                                            <span>تیکت های من</span>
                                        </a>
                                    </li>

                                    <li class="d-flex align-items-center">
                                        <i class="fa-solid fa-arrow-right-from-bracket profile-fa-icon"></i>

                                        <form class="profile-logout-form ms-2 mb-0"
                                              asp-area="Identity"
                                              asp-page="/Account/Logout"
                                              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                                              method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-link p-0 text-start text-decoration-none">
                                                خروج
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="page-body-wrapper">
            <aside class="page-sidebar">
                <div class="left-arrow" id="left-arrow">
                    <i data-feather="arrow-left"></i>
                </div>

                <div class="main-sidebar" id="main-sidebar">
                    <ul class="sidebar-menu" id="simple-bar">
                        <li class="pin-title sidebar-main-title">
                            <div>
                                <h5 class="sidebar-title f-w-700">سنجاق‌شده</h5>
                            </div>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="lan-1 f-w-700 sidebar-title">عمومی</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-gauge-high sidebar-fa-icon"></i>
                                <h6 class="f-w-600">داشبورد</h6>
                            </a>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="f-w-700 sidebar-title pt-3">عملیات</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-truck-ramp-box sidebar-fa-icon"></i>
                                <h6 class="f-w-600">بارگیری و حمل</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="TransportAgreements" asp-action="Index">تفاهم نامه های حمل</a></li>
                                <li><a asp-controller="Havalehs" asp-action="Index">حواله ها</a></li>
                                <li><a asp-controller="OpenSubHavalehs" asp-action="Index">درخواست های حمل</a></li>
                                <li><a asp-controller="AssignmentRequests" asp-action="Index">درخواست های رسیده</a></li>
                                <li><a asp-controller="CargoAnnouncements" asp-action="Index">سامانه اعلام بار</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-truck-front sidebar-fa-icon"></i>
                                <h6 class="f-w-600">ناوگان</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="Drivers" asp-action="Index">رانندگان</a></li>
                                <li><a asp-controller="Tractors" asp-action="Index">کشنده ها</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-wallet sidebar-fa-icon"></i>
                                <h6 class="f-w-600">مالی</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="DriverWalletWithdrawalRequests" asp-action="Index">فاکتورهای رانندگان</a></li>
                                <li><a asp-controller="TractorWalletWithdrawalRequests" asp-action="Index">فاکتورهای کشنده ها</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-location-dot sidebar-fa-icon"></i>
                                <h6 class="f-w-600">پیگیری</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="FleetTracking" asp-action="Index">ناوگان</a></li>
                                <li><a asp-controller="LoadingSchedule" asp-action="Index">بارگیری ها</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-headset sidebar-fa-icon"></i>
                                <h6 class="f-w-600">مرکز تماس</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="TicketOperator" asp-action="Index">پشتیبانی</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-chart-line sidebar-fa-icon"></i>
                                <h6 class="f-w-600">گزارش ها</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="ManagementReports" asp-action="Daily">روزانه</a></li>
                                <li><a asp-controller="ManagementReports" asp-action="Weekly">هفتگی</a></li>
                                <li><a asp-controller="ManagementReports" asp-action="Monthly">ماهیانه</a></li>
                                <li><a asp-controller="ManagementReports" asp-action="Yearly">سالیانه</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="f-w-700 sidebar-title pt-3">اطلاعات پایه</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="LegalEntities" asp-action="Index">
                                <i class="fa-solid fa-building-user sidebar-fa-icon"></i>
                                <h6 class="f-w-600">اشخاص حقوقی</h6>
                            </a>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Products" asp-action="Index">
                                <i class="fa-solid fa-box sidebar-fa-icon"></i>
                                <h6 class="f-w-600">محصولات</h6>
                            </a>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Regions" asp-action="Index">
                                <i class="fa-solid fa-map-location-dot sidebar-fa-icon"></i>
                                <h6 class="f-w-600">مناطق</h6>
                            </a>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="f-w-700 sidebar-title pt-3">مدیریت</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Users" asp-action="Index">
                                <i class="fa-solid fa-users-gear sidebar-fa-icon"></i>
                                <h6 class="f-w-600">کاربران</h6>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="right-arrow" id="right-arrow">
                    <i data-feather="arrow-right"></i>
                </div>
            </aside>

            <div class="page-body">
                @RenderBody()
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 footer-copyright">
                            <p class="mb-0">کپی رایت 2026 © پترولیا آرنا</p>
                        </div>
                        <div class="col-md-6">
                            <p class="float-end mb-0">کلیه حقوق محفوظ است</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/assets/js/vendors/jquery/jquery.min.js"></script>
    <script src="~/assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" defer=""></script>
    <script src="~/assets/js/vendors/bootstrap/dist/js/popper.min.js" defer=""></script>
    <script src="~/assets/js/vendors/font-awesome/fontawesome-min.js"></script>
    <script src="~/assets/js/sidebar.js"></script>
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>