@using Microsoft.AspNetCore.Identity
@using TMS.MVC.Models
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUser = User?.Identity?.IsAuthenticated == true
        ? await UserManager.GetUserAsync(User)
        : null;

    var currentUserFullName = currentUser == null
        ? ""
        : $"{currentUser.FirstName ?? ""} {currentUser.LastName ?? ""}".Trim();

    if (string.IsNullOrWhiteSpace(currentUserFullName))
    {
        currentUserFullName = "کاربر";
    }
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - آرناپترو لیا</title>

    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    <link rel="stylesheet" href="~/assets/css/vendors/flag-icon.css">
    <link rel="stylesheet" href="~/assets/css/iconly-icon.css">
    <link rel="stylesheet" href="~/assets/css/bulk-style.css">
    <link rel="stylesheet" href="~/assets/css/themify.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/weather-icons/weather-icons.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick-theme.css">

    <link id="color" rel="stylesheet" href="~/assets/css/color-1.css" media="screen">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/site.css">

    <style>
        .sidebar-link .sidebar-fa-icon {
            width: 22px;
            min-width: 22px;
            height: 22px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            margin-left: 10px;
            color: currentColor;
        }

        .profile-body .profile-fa-icon {
            width: 20px;
            min-width: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            color: currentColor;
        }

        .profile-logout-form button {
            color: inherit;
            font-size: inherit;
            line-height: inherit;
        }

            .profile-logout-form button:hover {
                color: var(--theme-default);
            }

        .header-icon-btn {
            width: 38px;
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
        }

        .logo-wrapper a {
            text-decoration: none;
        }

        .required-star {
            color: #dc3545;
            font-weight: 700;
            margin-right: .15rem;
        }
    </style>
</head>

<body>
    <div class="tap-top">
        <i class="iconly-Arrow-Up icli"></i>
    </div>

    <div class="loader-wrapper">
        <div class="loader">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <header class="page-header row">
            <div class="logo-wrapper d-flex align-items-center col-auto">
                <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center gap-2">
                    <img class="light-logo img-fluid" src="~/assets/images/logo/logo-ws.png" alt="logo" />
                    <span class="text-light" style="font-size:22px">
                        <strong>آرنا پترولیا</strong>
                    </span>
                </a>

                <a class="close-btn toggle-sidebar" href="javascript:void(0)">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>

            <div class="page-main-header col">
                <div class="header-left"></div>

                <div class="nav-right">
                    <ul class="header-right">
                        <li>
                            <a class="dark-mode header-icon-btn" href="javascript:void(0)" title="حالت تاریک">
                                <i class="fa-regular fa-moon"></i>
                            </a>
                        </li>

                        <li>
                            <a class="full-screen header-icon-btn" href="javascript:void(0)" title="تمام صفحه">
                                <i class="fa-solid fa-expand"></i>
                            </a>
                        </li>

                        <li class="profile-nav custom-dropdown">
                            <div class="user-wrap">
                                <div class="user-img">
                                    <img src="~/assets/images/profile.png" alt="user" />
                                </div>
                                <div class="user-content">
                                    <h6>@currentUserFullName</h6>
                                </div>
                            </div>

                            <div class="custom-menu overflow-hidden">
                                <ul class="profile-body">
                                    <li class="d-flex align-items-center">
                                        <i class="fa-regular fa-user profile-fa-icon"></i>
                                        <a class="ms-2" asp-controller="Account" asp-action="Profile">
                                            <span>حساب کاربری</span>
                                        </a>
                                    </li>

                                    <li class="d-flex align-items-center">
                                        <i class="fa-regular fa-ticket profile-fa-icon"></i>
                                        <a class="ms-2" asp-controller="Tickets" asp-action="Index">
                                            <span>تیکت های من</span>
                                        </a>
                                    </li>

                                    <li class="d-flex align-items-center">
                                        <i class="fa-solid fa-arrow-right-from-bracket profile-fa-icon"></i>

                                        <form class="profile-logout-form ms-2 mb-0"
                                              asp-area="Identity"
                                              asp-page="/Account/Logout"
                                              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                                              method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-link p-0 text-start text-decoration-none">
                                                خروج
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="page-body-wrapper">
            <aside class="page-sidebar">
                <div class="left-arrow" id="left-arrow">
                    <i data-feather="arrow-left"></i>
                </div>

                <div class="main-sidebar" id="main-sidebar">
                    <ul class="sidebar-menu" id="simple-bar">
                        <li class="pin-title sidebar-main-title">
                            <div>
                                <h5 class="sidebar-title f-w-700">سنجاق‌شده</h5>
                            </div>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="lan-1 f-w-700 sidebar-title">عمومی</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-gauge-high sidebar-fa-icon"></i>
                                <h6 class="f-w-600">داشبورد</h6>
                            </a>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="f-w-700 sidebar-title pt-3">عملیات</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-truck-ramp-box sidebar-fa-icon"></i>
                                <h6 class="f-w-600">بارگیری و حمل</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="TransportAgreements" asp-action="Index">تفاهم نامه های حمل</a></li>
                                <li><a asp-controller="Havalehs" asp-action="Index">حواله ها</a></li>
                                <li><a asp-controller="OpenSubHavalehs" asp-action="Index">درخواست های حمل</a></li>
                                <li><a asp-controller="AssignmentRequests" asp-action="Index">درخواست های رسیده</a></li>
                                <li><a asp-controller="CargoAnnouncements" asp-action="Index">درخواستهای استعلام</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-truck-front sidebar-fa-icon"></i>
                                <h6 class="f-w-600">ناوگان</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="Drivers" asp-action="Index">رانندگان</a></li>
                                <li><a asp-controller="Tractors" asp-action="Index">کشنده ها</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-wallet sidebar-fa-icon"></i>
                                <h6 class="f-w-600">مالی</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="DriverWalletWithdrawalRequests" asp-action="Index">فاکتورهای رانندگان</a></li>
                                <li><a asp-controller="TractorWalletWithdrawalRequests" asp-action="Index">فاکتورهای کشنده ها</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-location-dot sidebar-fa-icon"></i>
                                <h6 class="f-w-600">پیگیری</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="FleetTracking" asp-action="Index">ناوگان</a></li>
                                <li><a asp-controller="LoadingSchedule" asp-action="Index">بارگیری ها</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-headset sidebar-fa-icon"></i>
                                <h6 class="f-w-600">مرکز تماس</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="TicketOperator" asp-action="Index">پشتیبانی</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" href="javascript:void(0)">
                                <i class="fa-solid fa-chart-line sidebar-fa-icon"></i>
                                <h6 class="f-w-600">گزارش ها</h6>
                                <i class="iconly-Arrow-Left-2 icli"></i>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a asp-controller="ManagementReports" asp-action="Daily">روزانه</a></li>
                                <li><a asp-controller="ManagementReports" asp-action="Weekly">هفتگی</a></li>
                                <li><a asp-controller="ManagementReports" asp-action="Monthly">ماهیانه</a></li>
                                <li><a asp-controller="ManagementReports" asp-action="Yearly">سالیانه</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="f-w-700 sidebar-title pt-3">اطلاعات پایه</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="LegalEntities" asp-action="Index">
                                <i class="fa-solid fa-building-user sidebar-fa-icon"></i>
                                <h6 class="f-w-600">اشخاص حقوقی</h6>
                            </a>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Products" asp-action="Index">
                                <i class="fa-solid fa-box sidebar-fa-icon"></i>
                                <h6 class="f-w-600">محصولات</h6>
                            </a>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Regions" asp-action="Index">
                                <i class="fa-solid fa-map-location-dot sidebar-fa-icon"></i>
                                <h6 class="f-w-600">مناطق</h6>
                            </a>
                        </li>

                        <li class="sidebar-main-title">
                            <div>
                                <h5 class="f-w-700 sidebar-title pt-3">مدیریت</h5>
                            </div>
                        </li>

                        <li class="sidebar-list">
                            <i class="fa-solid fa-thumbtack"></i>
                            <a class="sidebar-link" asp-controller="Users" asp-action="Index">
                                <i class="fa-solid fa-users-gear sidebar-fa-icon"></i>
                                <h6 class="f-w-600">کاربران</h6>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="right-arrow" id="right-arrow">
                    <i data-feather="arrow-right"></i>
                </div>
            </aside>

            <div class="page-body">
                @RenderBody()
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 footer-copyright">
                            <p class="mb-0">کپی رایت 2026 © پترولیا آرنا</p>
                        </div>
                        <div class="col-md-6">
                            <p class="float-end mb-0">کلیه حقوق محفوظ است</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/assets/js/vendors/jquery/jquery.min.js"></script>
    <script src="~/assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" defer=""></script>
    <script src="~/assets/js/vendors/bootstrap/dist/js/popper.min.js" defer=""></script>
    <script src="~/assets/js/vendors/font-awesome/fontawesome-min.js"></script>
    <script src="~/assets/js/sidebar.js"></script>
    <script src="~/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/assets/js/scrollbar/custom.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/script.js"></script>

    <script>
        (function () {
            function hasExistingRequiredStar(label) {
                if (!label) return false;
                if (label.querySelector('.required-star')) return true;

                const labelHasManualStar = Array.from(label.querySelectorAll('span')).some(function (item) {
                    return item.textContent.trim() === '*';
                });
                if (labelHasManualStar || label.textContent.trim().endsWith('*')) return true;

                let node = label.nextSibling;
                while (node && node.nodeType === Node.TEXT_NODE && !node.textContent.trim()) {
                    node = node.nextSibling;
                }
                return !!(node && node.nodeType === Node.ELEMENT_NODE && node.textContent.trim() === '*');
            }

            function addRequiredStarsAndValidationSpans() {
                document.querySelectorAll('input[data-val-required], select[data-val-required], textarea[data-val-required]').forEach(function (field) {
                    const type = (field.getAttribute('type') || '').toLowerCase();
                    if (type === 'checkbox' || type === 'radio') return;

                    const id = field.id;
                    const name = field.getAttribute('name');
                    if (!name) return;

                    let label = null;
                    if (id) {
                        label = Array.from(document.querySelectorAll('label[for]')).find(function (item) {
                            return item.getAttribute('for') === id;
                        });
                    }

                    if (!label) {
                        const container = field.closest('.col, [class*="col-"], .mb-3, .mb-2, .form-group, .form-floating');
                        if (container) {
                            label = container.querySelector('label.form-label:not(.form-check-label), label:not(.form-check-label)');
                        }
                    }

                    if (label && !hasExistingRequiredStar(label)) {
                        const star = document.createElement('span');
                        star.className = 'required-star';
                        star.textContent = '*';
                        label.appendChild(document.createTextNode(' '));
                        label.appendChild(star);
                    }

                    const form = field.closest('form') || document;
                    const hasValidationMessage = Array.from(form.querySelectorAll('[data-valmsg-for]')).some(function (item) {
                        return item.getAttribute('data-valmsg-for') === name;
                    });

                    if (!hasValidationMessage) {
                        const message = document.createElement('span');
                        message.className = 'text-danger small field-validation-valid d-block';
                        message.setAttribute('data-valmsg-for', name);
                        message.setAttribute('data-valmsg-replace', 'true');

                        const inputGroup = field.closest('.input-group');
                        if (inputGroup) {
                            inputGroup.insertAdjacentElement('afterend', message);
                        } else {
                            field.insertAdjacentElement('afterend', message);
                        }
                    }
                });
            }

            addRequiredStarsAndValidationSpans();

            function normalizeNumber(value) {
                if (value === null || value === undefined) return '';
                return String(value).replace(/,/g, '').replace(/\s/g, '').trim();
            }

            function isNumericValue(value) {
                const normalized = normalizeNumber(value);
                return normalized !== '' && /^-?\d+(\.\d+)?$/.test(normalized);
            }

            function toTwoDecimalComma(value) {
                const normalized = normalizeNumber(value);
                if (!isNumericValue(normalized)) return value;
                return Number(normalized).toLocaleString('en-US', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
            }

            function looksLikeAmountOrQuantityField(field) {
                const text = [
                    field.name || '',
                    field.id || '',
                    field.className || '',
                    field.getAttribute('data-number-format') || ''
                ].join(' ');
                return /(amount|price|fee|fare|penalty|tip|balance|weight|quantity|cargo|loaded|unloaded|assigned|shortage|loss|wallet|rial|riyal|مبلغ|مقدار|فی|کرایه|جریمه|انعام|توقف|وزن|بار|برداشت|پرداخت|موجودی)/i.test(text);
            }

            function formatReadableNumbers() {
                document.querySelectorAll('input, textarea').forEach(function (field) {
                    const type = (field.getAttribute('type') || '').toLowerCase();
                    if (['hidden', 'checkbox', 'radio', 'date', 'datetime-local', 'time', 'file', 'password', 'email'].includes(type)) return;
                    if (!looksLikeAmountOrQuantityField(field)) return;

                    if (type === 'number') field.setAttribute('type', 'text');
                    field.classList.add('js-readable-number');
                    if (isNumericValue(field.value)) field.value = toTwoDecimalComma(field.value);

                    field.addEventListener('focus', function () {
                        field.value = normalizeNumber(field.value);
                    });
                    field.addEventListener('blur', function () {
                        if (isNumericValue(field.value)) field.value = toTwoDecimalComma(field.value);
                    });
                });

                document.querySelectorAll('form').forEach(function (form) {
                    if (form.dataset.numberCleanupAttached === '1') return;
                    form.dataset.numberCleanupAttached = '1';
                    form.addEventListener('submit', function () {
                        form.querySelectorAll('.js-readable-number').forEach(function (field) {
                            field.value = normalizeNumber(field.value);
                        });
                    });
                });

                document.querySelectorAll('table').forEach(function (table) {
                    const headers = Array.from(table.querySelectorAll('thead th')).map(function (th) {
                        return (th.textContent || '').trim();
                    });
                    table.querySelectorAll('tbody tr').forEach(function (tr) {
                        Array.from(tr.children).forEach(function (td, index) {
                            if (!td.matches('td')) return;
                            if (td.querySelector('input, select, textarea, button, a.badge, .btn')) return;
                            const header = headers[index] || '';
                            if (!/(مبلغ|مقدار|فی|کرایه|جریمه|انعام|توقف|وزن|بار|برداشت|پرداخت|موجودی|کسری|تخصیص|حمل|بدهی|طلب|Amount|Price|Fee|Fare|Penalty|Tip|Balance|Weight|Cargo|Quantity)/i.test(header)) return;
                            const value = (td.textContent || '').trim();
                            if (isNumericValue(value)) td.textContent = toTwoDecimalComma(value);
                        });
                    });
                });
            }

            formatReadableNumbers();

            function attachLightweightRequiredValidation() {
                document.querySelectorAll('form').forEach(function (form) {
                    if (form.dataset.requiredValidationAttached === '1') return;
                    form.dataset.requiredValidationAttached = '1';
                    form.addEventListener('submit', function (event) {
                        let isValid = true;
                        const errorMessages = [];

                        form.querySelectorAll('input[data-val-required], select[data-val-required], textarea[data-val-required]').forEach(function (field) {
                            const type = (field.getAttribute('type') || '').toLowerCase();
                            if (type === 'checkbox' || type === 'radio') return;

                            const name = field.getAttribute('name');
                            if (!name) return;

                            const value = normalizeNumber(field.value || '');
                            const requiredMessage = field.getAttribute('data-val-required') || 'وارد کردن این فیلد الزامی است.';
                            const messageSpan = Array.from(form.querySelectorAll('[data-valmsg-for]')).find(function (item) {
                                return item.getAttribute('data-valmsg-for') === name;
                            });

                            if (value === '') {
                                isValid = false;
                                errorMessages.push(requiredMessage);
                                field.classList.add('is-invalid');
                                if (messageSpan) {
                                    messageSpan.textContent = requiredMessage;
                                    messageSpan.classList.remove('field-validation-valid');
                                    messageSpan.classList.add('field-validation-error');
                                }
                            } else {
                                field.classList.remove('is-invalid');
                                if (messageSpan && messageSpan.textContent === requiredMessage) {
                                    messageSpan.textContent = '';
                                    messageSpan.classList.remove('field-validation-error');
                                    messageSpan.classList.add('field-validation-valid');
                                }
                            }
                        });

                        if (!isValid) {
                            event.preventDefault();
                            const summary = form.querySelector('[data-valmsg-summary="true"], .validation-summary-errors, .validation-summary-valid');
                            if (summary) {
                                summary.classList.remove('validation-summary-valid', 'd-none');
                                summary.classList.add('validation-summary-errors');
                                const uniqueMessages = Array.from(new Set(errorMessages));
                                summary.innerHTML = '<ul class="mb-0"><li>' + uniqueMessages.join('</li><li>') + '</li></ul>';
                            }
                            const firstInvalid = form.querySelector('.is-invalid');
                            if (firstInvalid) firstInvalid.scrollIntoView({ behavior: 'smooth', block: 'center' });
                        }
                    });
                });
            }

            attachLightweightRequiredValidation();
        })();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>